html, body {
    height: 100%;
    margin: 0;
}
.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.exit-btn {
    width: 25px;
    height: 25px;
    margin: 10px;
    float: right;
}
.add-list {
    position: absolute;
    display: flex;
    height: 30px;
    margin: 0 10px;
    z-index: 0;
    top: +40px
}
.keyword-lists {
    background-color: rgba(255,255,255,0);
    width: 60px;
    font-size: 1vh;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    outline: 0;
    margin-right: 3px;
}
.new-email {
    background-color: white;
    border-radius: 5px;
}
.input-area {
    display: flex;
    flex-direction: row;
}
.input-area .default-btn {
    margin: 20px 0 20px 20px;
}
.del-email {
    background-color: white;
    border-radius: 5px;
}
.default-input {
    margin: 20px;
    margin-right: 0;
    height: 34px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: rgb(235, 235, 235);
    background-image: url("/static/main_image.png");
    background-size: cover;
}
.main-logo {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.explanation-area {
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
}
.main .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    width: auto;
    height: auto;
    margin-left: 20px;
}
.subscribe-add {
    position: absolute;
}
.email-input-area {
    position: absolute;
}
.delete-input-area {
    position: absolute;
}
.delete-input-area .default-btn {
    margin-left: 140px;
}
.logo {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    align-items: center;
    width: auto;
    height: auto;
}
.subscribe-list {
    display: flex;
}
.default-btn {
    position: absolute;
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background-color: black;
    color: white;
}
.check-default-btn {
    width: 120px;
    height: 40px;
    margin: 20px 10px;
    background-color: black;
    color: white;
}
.input-animation {
    display: none;
    position: absolute;
    width: 0;
    height: 35px;
    margin-left: 10px;
}
.image {
    width: 100%;
    height: 40%;
}
.mail-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.check-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.default-line {
    background-color: darkgray;
    height: 6px;
}
.re-sender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.check-area hr {
    width: 90%;
    height: 1px;
    background-color: darkgray;
}
.check-area img {
    margin: 10px;
}
.loader-area {
    position: absolute;

    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    z-index: 100000;
}
.loader {
    display: none;
    position: absolute;
	border: solid 16px #f3f3f3;
	border-top: solid 16px black;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
	-webkit-animation: spin 1.5s linear infinite;
    z-index: 100001;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.footer {
    height: 10%;
    padding: 20px 150px;
}
.footer p {
    font-size: 15px;
    color: gray;
}
.swal-button {
    background-color: black;
    color: white;
}