<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/newscrap.js')}}"></script>
    <title>Newscrap</title>
</head>
<body>
<div class="wrap">
    <div class="loader-area">
        <div class="loader"></div>
    </div>
    <div class="main">
        <div class="main-logo">
            <div class="logo">Newscrap</div>
            <div class="explanation-area">
                원하는 내용만 편하게 보고싶다고 생각해본적 없으신가요?<br>
                Newscrap에서 원하는 키워드와 이메일을 입력해주시면 관련 뉴스를 찾아드릴게요<br>
                키워드당 8개의 뉴스가 이메일로 보내집니다<br>
            </div>
            <div class="subscribe-list">
                <div class="subscribe-add">
                    <div class="email-input-area">
                        <input type="text" class="input-animation" placeholder="이메일을 입력해주세요" id="input-email-add" onkeypress="if(event.keyCode==13) {addEmail()}">
                        <button id="email-add" onclick="addEmail(this)" class="default-btn">구독하기</button>
                    </div>
                    <div class="keyword-input-area">
                        <input type="text" class="input-animation" placeholder="키워드를 정확하게 입력해주세요(2개 이상 10개 이하)" id="input-emxail-keyword" onkeypress="if(event.keyCode==13) {keywordAdd()}">
                        <button style="display: none;" id="email-keyword" onclick="keywordAdd()" class="default-btn">키워드 추가</button>
                        <div class="add-list" id="key-list"></div>
                    </div>
                </div>
                <div class="delete-input-area">
                    <input type="text" class="input-animation" placeholder="이메일을 입력해주세요" id="input-email-del" onkeypress="if(event.keyCode==13) {delEmail()}">
                    <button id="email-del" onclick="delEmail()" class="default-btn">구독취소</button>
                </div>
            </div>
        </div>
    </div>
    <section class="footer">
        <p>문의사항은 thtree523@gmail.com으로 연락바랍니다</p>
    </section>
</div>
</body>
</html>