<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrap">
    <div class="content" style=" width:100%; padding:40px 0; background-color:#ffffff;margin:0 auto;">
        <table id="test" cellpadding="0" cellspacing="0" align="center"
               style=" margin: 0px auto; width: 94%; max-width: 630px; background: rgb(235, 235, 235); border: 0px; width: 100%">
            <tr style="margin: 0;padding:0;">
                <h1 style="display: flex; justify-content: center; font-size: 80px">title</h1>
            </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                    <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=092&aid=0002205213">
                        <img src="http://www.epnc.co.kr/news/thumbnail/202011/109032_102838_429_v150.jpg" alt=""
                             style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                             width="610">
                        <h1>test</h1>
                    </a>
                </td>
                <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                    <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=092&aid=0002205213">
                        <img src="http://www.epnc.co.kr/news/thumbnail/202011/109032_102838_429_v150.jpg" alt=""
                             style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                             width="610">
                        <h1>test</h1>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>