<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrap">
    <div class="content" style=" width:100%; padding:40px 0; background-color:#ffffff;margin:0 auto;">
        <table id="test" cellpadding="0" cellspacing="0" align="center"
               style=" margin: 0px auto; width: 94%; max-width: 630px; background: rgb(235, 235, 235); border: 0px;">
            <tr style="margin: 0;padding:0;">
                <h1 style="display: flex; justify-content: center; font-size: 80px">NewScrap</h1>
            </tr>

            <tr style="margin: 0;padding:0;">
                <h1 style="display: flex; justify-content: center; font-size: 40px">카카오</h1>
            </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=293&aid=0000032000">
                            <img src="https://imgnews.pstatic.net/image/293/2020/11/18/0000032000_001_20201118143737011.png" alt=""
                                 style="width: 100%; height: 30%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>가전・자동차부터 콘텐츠까지...'구독경제' 뛰어드는 <b>카카오</b></h1>
                            <h2><b>카카오</b>가 미래 성장동력으로 꼽아왔던 구독경제 사업에 본격적으로 시동을 건다. <b>카카오</b>톡 메신저를 기반으로 렌탈·정기배송, 콘텐츠는 물론 각종 서비스나 용역 등을 구독화한다는 계획이다. 여민수·조수용 <b>카카오</b>... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=014&aid=0004530898">
                            <img src="https://imgnews.pstatic.net/image/014/2020/11/18/0004530898_001_20201118105527613.jpg" alt=""
                                 style="width: 100%; height: 30%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>톡 지갑에 신분증·자격증 담긴다</h1>
                            <h2>연내 모바일 메신저 ‘<b>카카오</b>톡’ 기반 전자지갑에 신분증과 운전면허증 등을 담아 이용자 자격과 신원을 실시간 증명할 수 있게 된다. <b>카카오</b>는 ‘if(kakao)2020’ 컨퍼런스 첫 날인 18일에 ‘<b>카카오</b>가 준비하는 더 나은... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=277&aid=0004794181">
                            <img src="https://imgnews.pstatic.net/image/277/2020/11/18/0004794181_001_20201118143656186.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>&quot;가전에서 자동차까지&quot; 구독경제 노크하는 <b>카카오</b>(종합)</h1>
                            <h2>&quot;최근 몇 년 간 전세계적인 트렌드가 소유 경제에서 공유 경제, 구독 경제로 변화하고 있습니다&quot; -여민수 <b>카카오</b> 공동대표 <b>카카오</b>가 가전ㆍ가구업체들과 손잡고 구독 서비스를 출시하면서 구독경제 사업에 시동을... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=032&aid=0003043756">
                            <img src="https://imgnews.pstatic.net/image/032/2020/11/18/0003043756_001_20201118114003574.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>, 신분증 담은 지갑부터 렌탈까지···“구독 플랫폼으로 진화”</h1>
                            <h2><b>카카오</b>가 신분증과 자격증, 증명서 등을 <b>카카오</b>톡에서 관리할 수 있는 ‘지갑’을 연내 출시한다고 밝혔다. ‘콘텐츠 구독’과 다양한 서비스·제품을 렌탈해 쓸 수 있는 ‘상품구독’ 서비스도 새롭게 선보인다.... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=215&aid=0000916390">
                            <img src="https://imgnews.pstatic.net/image/215/2020/11/18/A202011180186_1_20201118152126405.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>, 콘텐츠·상품 구독 플랫폼 도약…'카톡 지갑' 연내 출시</h1>
                            <h2><b>카카오</b>가 신분증과 자격증, 증명서 등을 <b>카카오</b>톡에서 보관, 관리할 수 있는 ‘지갑’을 연내 출시한다. 또 신규 콘텐츠 구독 서비스와 함께 냉장고, 화장품 등 제품도 렌털·정기구독 할 수 있는 서비스를 선보인다.... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=031&aid=0000569058">
                            <img src="https://imgnews.pstatic.net/image/031/2020/11/18/0000569058_001_20201118134523993.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>톡 지갑에 신분증·자격증 담는다</h1>
                            <h2><b>카카오</b>가 연내 신분증·자격증 등을 <b>카카오</b>톡에 보관·관리할 수 있는 '지갑' 서비스를 선보인다. 조수용 <b>카카오</b> 공동대표는 18일 '이프 <b>카카오</b> 2020' 콘퍼런스에서 &quot;일상에서 본인을 증명하는 것이 불편한 부분에 주목해... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=018&aid=0004788750">
                            <img src="https://imgnews.pstatic.net/image/018/2020/11/18/0004788750_001_20201118103112902.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b> '구독 플랫폼' 되다..신분증 담은 지갑부터 렌탈까지</h1>
                            <h2>▲<b>카카오</b> 2020년 3분기 실적 ▲왼쪽부터 조수용·여민수 <b>카카오</b> 공동대표 모바일 메신저로 출발한 <b>카카오</b>가 <b>카카오</b>톡을 기반으로 한 광고, 커머스, 웹툰에 이어 ‘구독 플랫폼’으로 진화한다. 신규 서비스로 ‘신분증... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="http://daily.hankooki.com/lpage/ittech/202011/dh20201118141731138240.htm?s_ref=nv">
                            <img src="http://photo.hankooki.com/newsphoto/v001/2020/11/18/jjw20201118141708_X_13_C_1.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>, 연내 ‘지갑’ 서비스 출시...구독 상품 계획도 공개</h1>
                            <h2><b>카카오</b>가 ‘if(kakao)2020’ 컨퍼런스 첫 날인 18일에 ‘<b>카카오</b>가 준비하는 더 나은 내일’이라는 주제로 기자간담회를 진행했다. 이 날 행사에서 여민수, 조수용 대표는 ‘지갑’, ‘콘텐츠 구독’, ‘상품 구독’, ‘멜론... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="margin: 0;padding:0;">
                <h1 style="display: flex; border-bottom: 1px solid black; font-size: 40px">카카오</h1>
            </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=293&aid=0000032012">
                            <img src="https://imgnews.pstatic.net/image/293/2020/11/18/0000032012_001_20201118180418236.png" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b> 개발자의 ‘찐세계’는 어떨까?</h1>
                            <h2><b>카카오</b>톡 10주년을 기념해 3일간 온라인으로 개최되는 ‘if(kakao)2020’ 행사 첫날에는 <b>카카오</b>의 다양한 서비스와 기술 소개 외에도 ‘<b>카카오</b> 개발자의 찐세계’ ‘<b>카카오</b> 입사 8개월 리얼 후기’ 등 실제 <b>카카오</b>... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=014&aid=0004531338">
                            <img src="https://imgnews.pstatic.net/image/014/2020/11/18/0004531338_001_20201118180846798.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>디지털 신분증에 구독경제까지… <b>카카오</b>는 영토 확장 중</h1>
                            <h2><b>카카오</b>가 국민 메신저 '<b>카카오</b>톡' 기반으로 디지털 신분증과 구독경제 플랫폼 선점에 나섰다. 연내 <b>카카오</b>톡 기반 전자지갑에 각종 신분증을 담아 이용할 수 있도록 하는 한편, <b>카카오</b>톡 채널을 통해 생활가전 렌탈이나... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=023&aid=0003577087">
                            <img src="https://imgnews.pstatic.net/image/023/2020/11/18/2020111801515_0_20201118135621469.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>카톡에서 안마의자를 구독한다?...<b>카카오</b> 구독서비스 론칭</h1>
                            <h2>조수용·여민수 <b>카카오</b> 공동대표 18일 기자간담회 발표 <b>카카오</b>가 국내 가전·가구 업체와 손잡고 구독 서비스를 출시한다. 카톡을 통해 상품 렌털 서비스를 제공한다는 것이다. 지난 6월 유료 멤버십 출시하며 구독... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=020&aid=0003321223">
                            <img src="https://imgnews.pstatic.net/image/020/2020/11/18/0003321223_001_20201118171448091.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>“<b>카카오</b>톡이 내 지갑”…렌탈 신청하고 신분증 저장까지 ‘무한변신’</h1>
                            <h2><b>카카오</b>톡으로 김치냉장고 렌탈 신청하고, 신분증 저장해 본인 증명하고…. <b>카카오</b>가 올해로 서비스 개시 10주년을 맞이한 <b>카카오</b>톡에 신규 서비스를 대규모로 추가한다. 국민 대다수가 사용하고 있는 <b>카카오</b>톡의 사용처를... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="http://www.epnc.co.kr/news/articleView.html?idxno=109032">
                            <img src="http://www.epnc.co.kr/news/thumbnail/202011/109032_102838_429_v150.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b> '지갑' 서비스 연내 출시한다</h1>
                            <h2> 이용자의 일상을 바꿀 <b>카카오</b>의 신규 서비스가 공개됐다. <b>카카오</b>가 'if(kakao)2020' 컨퍼런스 첫 날인 18일 '<b>카카오</b>가 준비하는 더 나은 내일'이라는 주제로 기자간담회를 진행했다. 이 날 행사에서 여민수, 조수용 공동대표는... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://www.ebn.co.kr/news/view/1459744/?sc=Naver">
                            <img src="http://cdnimage.ebn.co.kr/news/202011/news_1605668155_1459744_m_1.jpeg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>, 지갑 서비스 연내 개시…상품구독 서비스도 출격</h1>
                            <h2>이용자의 일상을 바꿀 <b>카카오</b>의 신규 서비스가 대거 공개됐다. <b>카카오</b>는 이프 <b>카카오</b> 2020(if kakao 2020) 컨퍼런스 첫 날인 18일 '<b>카카오</b>가 준비하는 더 나은 내일'이라는 주제로 기자간담회를 진행했다. 이 날 행사에서 여민수... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="http://www.newspim.com/news/view/20201118000566">
                            <img src="http://img.newspim.com/news/2020/11/18/2011181144576440.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>[종합] <b>카카오</b>, 新서비스 쏟아낸다...렌탈부터 지갑까지</h1>
                            <h2><b>카카오</b>가 디지털 지갑, 상품구독 등 신규 서비스를 대거 출시한다. <b>카카오</b>는 18일 'if(kakao)2020' 컨퍼런스 첫날 '<b>카카오</b>가 준비하는 더 나은 내일'이라는 주제로 기자간담회를 개최, 이같이 밝혔다. 이날 행사에서 여민수... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="http://news.kbiz.or.kr/news/articleView.html?idxno=74780">
                            <img src="http://news.kbiz.or.kr/news/thumbnail/202011/74780_34179_153_v150.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>, 일상을 바꿀 '신규 서비스' 공개… 지갑·구독·멜론 트랙제로 등</h1>
                            <h2>여민수(오른쪽)·조수용 <b>카카오</b> 공동대표 [<b>카카오</b> 제공] 이용자의 일상을 바꿀 <b>카카오</b>의 신규 서비스가 공개됐다. <b>카카오</b>가 'if(kakao)2020' 컨퍼런스 첫 날인 18일에 '<b>카카오</b>가 준비하는 더 나은 내일'이라는 주제로... </h2>
                        </a>
                    </td>
                </tr>
            <td style="margin: 0;padding:0;">
                <h1 style="display: flex; justify-content: center; font-size: 40px">카카오</h1>
            </td>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="http://geconomy.co.kr/detail.php?number=20504&thread=22r03">
                            <img src="http://geconomy.co.kr/upload/happy_thumb/600x400_100/wys2/file_attach/2020/11/18/1605668837_15651_N_7_600x400_100_2_2.jpg?863684" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1><b>카카오</b>, ‘지갑’ 서비스 출시...구독 상품도 공개</h1>
                            <h2><b>카카오</b>가 이용자의 일상을 바꿀 <b>카카오</b>의 신규 서비스와 플랫폼 개편을 예고했다. <b>카카오</b>는 ‘if(kakao)2020’ 컨퍼런스를 앞두고 ‘<b>카카오</b>가 준비하는 더 나은 내일’이라는 주제로 기자간담회를 진행했다고 18일 밝혔다.... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=014&aid=0004531284">
                            <img src="https://ssl.pstatic.net/static.news/image/news/ogtag/navernews_200x200_20160804.png" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>‘핀테크 공룡’ 토스, 내년 증권업 진출… &quot;<b>카카오</b>보다 센놈 온다&quot; 업계 긴장</h1>
                            <h2>디지털 플랫폼 기업으로는 1호인 <b>카카오</b>페이증권에 이어 두번째다. 핀테크 기업들의 금융투자업 진출이... 토스에 이어 금융상품 판매 중개를 위주로 한 <b>카카오</b>페이증권도 내년에 주식거래 중개서비스 개시를 모색하고... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://www.itdaily.kr/news/articleView.html?idxno=200572">
                            <img src="https://cdn.itdaily.kr/news/thumbnail/202011/200572_200458_176_v150.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>신분증 담은 지갑부터 렌탈까지…<b>카카오</b>, 새로운 서비스 4종 공개</h1>
                            <h2> <b>카카오</b>가 신분증과 자격증 등을 <b>카카오</b>톡 메신저에서 관리할 수 있는 '지갑'과 '콘텐츠 구독' 플랫폼, '상품구독' 서비스 등을 대거 출시한다. 단순 메신저에서 출발한 <b>카카오</b>톡은 초기 이모티콘 구입이나 기프티콘 구매... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="http://www.digitaltoday.co.kr/news/articleView.html?idxno=253468">
                            <img src="http://cdn.digitaltoday.co.kr/news/thumbnail/202011/253468_217017_5537_v150.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>카톡을 구독 경제 플랫폼으로...<b>카카오</b>의 새로운 도전</h1>
                            <h2>여민수 <b>카카오</b> 공동대표 [사진:<b>카카오</b>] <b>카카오</b>가  구독 비즈니스에 본격적인 시동을 건다. 우선 19일부터 <b>카카오</b>톡에서 렌탈, 정기배송 등의 방법으로 상품을 구독할 수 있게 된다. 여민수 <b>카카오</b> 공동 대표는 18일... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=417&aid=0000620329">
                            <img src="https://imgnews.pstatic.net/image/417/2020/11/18/0000620329_001_20201118110501767.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>&quot;김치냉장고 렌탈하세요&quot;… <b>카카오</b>, 구독 경제 서비스 대거 '내놨다'</h1>
                            <h2><b>카카오</b>(공동대표 여민수, 조수용)가 ‘if(kakao)2020’ 콘퍼런스 첫날인 18일 ‘<b>카카오</b>가 준비하는 더 나은 내일’이라는 주제로 기자간담회를 진행했다. 이날 행사에서 여민수·조수용 공동대표는 ▲지갑 ▲콘텐츠 구독... </h2>
                        </a>
                    </td>
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=001&aid=0012019364">
                            <img src="https://imgnews.pstatic.net/image/001/2020/11/17/PYH2020111705440001700_P4_20201117104959581.jpg" alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>메신저 피싱 조심하세요…<b>카카오</b> '톡 사이렌' 도입</h1>
                            <h2><b>카카오</b>가 아는 사람으로 속여 돈을 요구하는 '메신저 피싱' 피해를 막고자 <b>카카오</b>톡에 '톡 사이렌' 기능을 도입한다고 17일 밝혔다. 친구로 등록되지 않은 대화 상대가 <b>카카오</b>톡으로 말을 걸면 해당 채팅방에 창이 뜨고... </h2>
                        </a>
                    </td>
                </tr>
            <tr style="display: flex; margin: 0;padding:0;">
                    <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                        <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=018&aid=0004789286">
                            <img src="https://imgnews.pstatic.net/image/018/2020/11/18/0004789286_001_20201118212107640.jpg"
                                 alt=""
                                 style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                 width="610">
                            <h1>[줌인] ‘관계 맺기’ 는 나를 증명하는 것부터..<b>카카오</b>의 '구독' 변신</h1>
                            <h2>▲조수용(션)<b>카카오</b> 공동대표 ▲여민수(메이슨)<b>카카오</b> 공동대표 ▲왼쪽부터 조수용·여민수(션·메이슨) <b>카카오</b> 공동대표 10년
                                전 이동통신 회사의 유료 문자 시장을 파괴하며 등장한 모바일 메신저 <b>카카오</b>톡. 앞으로의... </h2>
                        </a>
                    </td>
                <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                    <a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=092&aid=0002205077">
                        <img src="https://imgnews.pstatic.net/image/092/2020/11/17/0002205077_001_20201117103806908.png"
                             alt=""
                             style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                             width="610">
                        <h1>&quot;메신저 피싱 그만&quot;…<b>카카오</b>, 톡 사이렌 도입해 이용자 보호 나선다</h1>
                        <h2><b>카카오</b>(공동대표 여민수·조수용)가 지인을 사칭해 금전을 요구하는 메신저 피싱으로 인한 이용자 피해방지를 위해, <b>카카오</b>톡에 ‘톡 사이렌’을
                            새롭게 도입한다고 17일 밝혔다. <b>카카오</b>는 지난 2012년 ‘스마트 인지 기술’... </h2>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>